/**
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */
/* profile */
 @media all and (max-width: 1787px) {
    header{
        width: 20%;
    }
 }
 @media all and (max-width: 1510px) {
    header .avatar-bell-logout {
        padding: 0% 5% 0% 5%;
    }
    header .menu {
        padding: 0% 0% 0% 5%;
    }
    .profile{
        width: 100%;
        padding: 1%;
    }
 }
 @media all and (max-width: 1400px) {
    html{
        font-size: 80%;
    }
}
@media all and (max-width: 1051px) {
    header .avatar-bell-logout .avatar-container .avatar {
        width: 40px;
        height: 40px;
    }
    header .avatar-bell-logout .bell p {
        font-size: 1.4rem;
    }
    header .avatar-bell-logout .logout p {
        font-size: 1.4rem;
    }
    .profile .background-info .avatar {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        right: 45%;
        bottom: 10%;
        border: 4px solid black;
    }
    .profile .new-post {
        width: 70%;
    }
    .profile .posts .post {
        width: 47%;
    }
    header .menu nav ul li a .icon {
        margin-right: 10px;
    }
    header .menu nav {
        font-size: 1.3em;
    }
}
@media all and (max-width: 885px) {
    header .avatar-bell-logout {
        flex-direction: column;
        padding: 0%;     
    }
    header .avatar-bell-logout .avatar-container{
        margin-bottom: 40%;
    }
    header .avatar-bell-logout .bell{
        margin-bottom: 40%;
    }
    header .menu nav ul li a .icon {
        margin-right: 0px;
    }
    .text1, .h1-menu{
        display: none;
    }
    header {
        padding: 0.1% 0.5% 0% 0.5%;
        margin: 0;
        width: auto;
    }
    header .menu {
        padding: 0%;
        margin-top: 10rem;
    }
    header .menu nav ul{
        display: flex;
        flex-direction: column;
    }
    header .menu nav ul li {
        align-items: center;
		align-self: center;
        margin-bottom: 30%;
    }
    header .avatar-bell-logout {
        margin-top: 1rem;
    }
}
@media all and (max-width: 697px) {
    .profile .new-post {
        width: 99%;
    }
}
@media all and (max-width: 687px) {
    .profile .background-info .avatar {
        left: 40%;
        top: 5%;
        width: 130px;
        height: 130px;
        border-radius: 50%; 
    }
    .profile .background-info .avatar img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}
@media all and (max-width: 559px) {
    .profile .posts{
        width: 100%;
    }
    .profile .posts .post {
        width: 100%;
    }
    .profile::-webkit-scrollbar {
        width: 7px;
      }
    .profile::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
    }
    .profile::-webkit-scrollbar-thumb {
        background-color: #252936;
        border-radius: 10px;
    }
    .profile .background-info .avatar {
        left: 35%;
        top: 5%;
        width: 130px;
        height: 130px;
        border-radius: 50%; 
    }
}
@media all and (max-width: 512px) {
    .profile .background-info .info {
        font-size: 1rem;
    }
    .profile .background-info .info .name {
        padding-left: 2%;
    }
    .profile .background-info .info .nav ul li a {
        padding: 10px;
    }
    .profile .background-info .info .nav ul li:hover {
        background: #2E2E40;
    -webkit-box-shadow: 0px -2.5px #1488FA inset;
        box-shadow: 0px -2.5px #1488FA inset;
    }

    .profile .background-info .info .nav ul li .active {
        background: #2E2E40;
    -webkit-box-shadow: 0px -2.5px #1488FA inset;
        box-shadow: 0px -2.5px #1488FA inset;
    }
    .profile .posts {
        font-size: 0.9rem;
    }
}
@media all and (max-width: 419px) {
    .profile .background-info .avatar {
        left: 0%;
        top: 0%;
        width: 100%;
        height: 150px;
        border-radius: 0%;
    }
    .profile .background-info .avatar img {
        width: 100%;
        height: 100%;
        border-radius: 0%;
    }
}

@media all and (max-width: 389px) {
    .profile .background-info .info .name p:last-child {
    margin-left: 5px;
    font-size: 0.5em;
    }
}
@media all and (max-width: 374px) {
    .profile .background-info .info {
        font-size: 1rem;
    }
    .profile .background-info .info .name {
        padding-left: 2%;
    }
    .profile .background-info .info .nav ul li a {
        padding: 5px;
    }
    .profile .background-info .info .nav ul li:hover {
        background: #2E2E40;
    -webkit-box-shadow: 0px -2px #1488FA inset;
        box-shadow: 0px -2px #1488FA inset;
    }

    .profile .background-info .info .nav ul li .active {
        background: #2E2E40;
    -webkit-box-shadow: 0px -2px #1488FA inset;
        box-shadow: 0px -2px #1488FA inset;
    }
}
@media all and (max-width: 368px) {
    .profile .background-info .info .name p:last-child {
        margin-left: 3px;
        font-size: 0.5em;
    }
}
@media all and (max-width: 347px) {
    .profile .background-info .info .name p:last-child {
        display: none;
    }
}
@media all and (max-width: 347px) {
    .profile .background-info .info .name p{
        display: none;
    }
}
@media all and (max-width: 375px) {
    .profile .posts .post .user-info .name-time {
    display: flex;
            flex-direction: column;
            align-items: center;
        align-self: center;
    margin-left: 10px;
    }
    .profile .posts .post .user-info .name-time p{
        width: 100%;
    }
}
@media all and (max-width: 255px) {
    .profile .background-info .avatar {
        left: 0%;
        top: 0;
        width: 100%;
        height: 150px;
        border-radius: 0%;
        border: 0;
    }
    .profile .background-info .avatar img {
        width: 100%;
        height: 100%;
        border-radius: 0%;
    }
    .profile .posts .post .user-info .img {
        display: none;
    }
    .profile .posts .post .user-info .name-time {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }
}


/* friends */
@media all and (max-width: 898px) {
    .profile .friends-container .friends_list .friends .friend {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 2%;
        background: #181A20;
        position: relative;
        margin-left: 2.4%;
        -ms-flex-preferred-size: 30%;
            flex-basis: 46%;
    }
}
@media all and (max-width: 488px) {
    .profile .friends-container .friends_list .friends .friend {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 2%;
        background: #181A20;
        position: relative;
        
        -ms-flex-preferred-size: 30%;
            flex-basis: 100%;
    }
}

/* messages */

@media all and (max-width: 1155px) {
    .messages .chats .user .avatar img {
        width: 50px;
        height: 50px;
    }
}
@media all and (max-width: 813px) {
    .messages .chats {
        width: 15%;    
    }
    .messages .current_chat {
        width: 80%;
    }
}
@media all and (max-width: 813px) {
    .messages .current_chat .text-user .message_container_user .message p {
        width: 60%;
    }
    .messages .current_chat .text-user .message_container_friend .message_avatar .message p {
        width: 60%;
    }
    .messages .current_chat .text-user .message_container_user .message_avatar .avatar img, .messages .current_chat .text-user .message_container_friend .message_avatar .avatar img {
        width: 40px;
        height: 40px;
    }
}
@media all and (max-width: 813px) {
    .messages .current_chat .text-user .message_container_user .message p {
        width: 80%;
    }
    .messages .current_chat .text-user .message_container_friend .message_avatar .message p {
        width: 80%;
    }
}
@media all and (max-width: 537px) {
    .messages .current_chat .text-user .message_container_user .message p {
        width: 90%;
    }
    .messages .current_chat .text-user .message_container_friend .message_avatar .message p {
        width: 90%;
    }
    .messages .chats .user .avatar img {
        width: 40px;
        height: 40px;
    }
}

@media all and (max-width: 409px) {
    .messages .chats .user .avatar img {
        width: 30px;
        height: 30px;
    }
}
@media all and (max-width: 317px) {
    .messages .chats .user .avatar img {
        width: 25px;
        height: 25px;
    }
}
/*
 @media all and (min-width: 1024px) and (max-width: 1280px) { }

 @media all and (min-width: 768px) and (max-width: 1024px) { }
 
 @media all and (min-width: 480px) and (max-width: 768px) { }
 
 @media all and (max-width: 480px) { }
 
 

 @media screen and (orientation:portrait) {  }

 @media screen and (orientation:landscape) {  }
 
 

 @media screen and (-webkit-max-device-pixel-ratio: 1) {
 }
 

 @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
 only screen and (-o-min-device-pixel-ratio: 3/2),
 only screen and (min--moz-device-pixel-ratio: 1.5),
 only screen and (min-device-pixel-ratio: 1.5) {
 }
 
 
 @media screen and (max-device-width: 480px) and (orientation:portrait) {
 } 
 

 @media screen and (max-device-width: 480px) and (orientation:landscape) {
 }
 
 
 @media screen and (min-device-width: 481px) and (orientation:portrait) {
 }
 

 @media screen and (min-device-width: 481px) and (orientation:landscape) {
 }
 */