/*
=====================================================================

*   Ooqu Layout Stylesheet
*   url: ooqu.ru
*   26.05.2021

=====================================================================

   TOC:
   1. Common Styles.
   2. Header Styles.
   3. Main Styles.
   4. Footer Styles

===================================================================== */

/* ------------------------------------------------------------------ */
/* 1. Common Styles
/* ------------------------------------------------------------------ */
$background: #1F1D2B;

$mainColor: #FFFFFF;
$noActiveText: #808191;

$backgroundBorder: #252936;
$onlineColor: #22B07D;
$busyColor: #FAA81A;
$offlineColor: #ED4245;

//     div, nav, a, section, ul, h1, p, header, main, footer{border: 1px solid red;}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	word-wrap: break-word;
}
html{
	font-size: 100%;
	overflow-x: hidden;
  	margin-right: calc(-1 * (100vw - 100%));
	/*width:100vw;
    overflow-x:hidden;*/
}
body {
	font-family: 'Visuelt Pro';
    src: url('VisueltPro-Black.eot');
    src: local('VisueltPro-Black'),
        url('VisueltPro-Black.eot?#iefix') format('embedded-opentype'),
        url('VisueltPro-Black.woff2') format('woff2'),
        url('VisueltPro-Black.woff') format('woff'),
        url('VisueltPro-Black.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
	font-size: 18x;
	background: #f6f5f7;
}
.wrapper{
	display: flex;
  	// justify-content: center;
  	// align-content: space-between;
  	// align-items: center;
  	// flex-direction: column;
	background: $background;

	width: 100vw;
	height: 100vh;
	overflow: auto
}
a{
	text-decoration: none;
	color: $noActiveText;
}

.active{
	color: white;
}
.active0{
	color: white;
}
.active1{
	color: blue;
}
.active2{
	color: white;
}
.active3{
	color: blue;
}
.active4{
	color: red;
}

.online{
	color: $onlineColor;
}
.busy{
	color: $busyColor;
}
.offline{
	color: $offlineColor;
}
@keyframes fade-in { 0% { opacity: 0.1; } 100% { opacity: 2; }   }
/* ------------------------------------------------------------------ */
/* 2. Register/Login Styles
/* ------------------------------------------------------------------ */
.register {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;


	background-image: url(../images/backgrounds/fonMain.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	//height: 100vh;
	overflow: scroll; //auto
	overflow-x: hidden;
	.regError{
		padding-bottom: 5%;
		font-size: 2rem;
		font-weight: bold;
	}
	h1 {
		font-weight: bold;
		margin: 0;
	}
	h2 {
		text-align: center;
	}
	p {
		font-size: 14px;
		font-weight: 100;
		line-height: 20px;
		letter-spacing: 0.5px;
		margin: 20px 0 30px;
	}
	span {
		font-size: 12px;
	}
	a {
		color: #333;
		font-size: 14px;
		text-decoration: none;
		margin: 15px 0;
	}
	button {
		border-radius: 20px;
		border: 1px solid #6F6EDD;
		background-color: #6F6EDD;
		color: #FFFFFF;
		font-size: 12px;
		font-weight: bold;
		padding: 12px 45px;
		letter-spacing: 1px;
		text-transform: uppercase;
		transition: transform 80ms ease-in;
	}
	button:active {
		transform: scale(0.95);
	}
	button:focus {
		outline: none;
	}
	button.ghost {
		background-color: transparent;
		border-color: #FFFFFF;
	}
	form {
		background-color: #FFFFFF;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 50px;
		height: 100%;
		text-align: center;
	}
	input {
		background-color: #eee;
		border: none;
		padding: 12px 15px;
		margin: 8px 0;
		width: 100%;
	}
	.container {
		background-color: #fff;
		border-radius: 10px;
		  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
				0 10px 10px rgba(0,0,0,0.22);
		position: relative;
		overflow: hidden;
		width: 768px;
		max-width: 100%;
		min-height: 480px;
	}
	.form-container {
		position: absolute;
		top: 0;
		height: 100%;
		transition: all 0.6s ease-in-out;
	}
	
	.sign-in-container {
		left: 0;
		width: 50%;
		z-index: 2;
	}
	.container.right-panel-active .sign-in-container {
		transform: translateX(100%);
	}
	.sign-up-container {
		left: 0;
		width: 50%;
		opacity: 0;
		z-index: 1;
	}
	
	.container.right-panel-active .sign-up-container {
		transform: translateX(100%);
		opacity: 1;
		z-index: 5;
		animation: show 0.6s;
	}
	@keyframes show {
		0%, 49.99% {
			opacity: 0;
			z-index: 1;
		}
		
		50%, 100% {
			opacity: 1;
			z-index: 5;
		}
	}
	.overlay-container {
		position: absolute;
		top: 0;
		left: 50%;
		width: 50%;
		height: 100%;
		overflow: hidden;
		transition: transform 0.6s ease-in-out;
		z-index: 100;
	}
	.container.right-panel-active .overlay-container{
		transform: translateX(-100%);
	}
	.overlay {
		background: #3C4584;
		background: -webkit-linear-gradient(to right, #3C4584, #305ED6);
		background: linear-gradient(to right, #3C4584, #305ED6);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 0 0;
		color: #FFFFFF;
		position: relative;
		left: -100%;
		height: 100%;
		width: 200%;
		  transform: translateX(0);
		transition: transform 0.6s ease-in-out;
	}
	
	.container.right-panel-active .overlay {
		  transform: translateX(50%);
	}
	.overlay-panel {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 40px;
		text-align: center;
		top: 0;
		height: 100%;
		width: 50%;
		transform: translateX(0);
		transition: transform 0.6s ease-in-out;
	}
	.overlay-left {
		transform: translateX(-20%);
	}
	.container.right-panel-active .overlay-left {
		transform: translateX(0);
	}
	.overlay-right {
		right: 0;
		transform: translateX(0);
	}
	.container.right-panel-active .overlay-right {
		transform: translateX(20%);
	}
	.social-container {
		margin: 20px 0;
	}
	.social-container a {
		border: 1px solid #DDDDDD;
		border-radius: 50%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin: 0 5px;
		height: 40px;
		width: 40px;
	}
}







/* ------------------------------------------------------------------ */
/* 3. Header Styles
/* ------------------------------------------------------------------ */
header{
	display: flex;
	width: 15%;	
	flex-direction: column;
	color: $noActiveText;
	
	.avatar-bell-logout{
		display: flex;
		
		width: 100%;
		justify-content: space-between;
		padding: 0% 10% 0% 10%;
		margin-bottom: 50%;
		margin-top: 5%;
		.avatar-container{
			align-self: center;
			align-items: center;
			.avatar{
				border-radius: 50%;
				width: 60px;
				height: 60px;
				img{
					border-radius: 50%;
					width: 100%;
					height: 100%;
				}
			}
		}
		.bell{
			align-self: center;
			align-items: center;
			p{
				display: flex;
				
				background: $backgroundBorder;
				font-size: 1.4em;
				padding: 10px;
				border-radius: 50%;
			}
		}
		.logout{
			align-self: center;
			align-items: center;
			p{
				display: flex;
				align-self: center;
				align-items: center;
				background: $backgroundBorder;
				font-size: 1.4em;
				padding: 10px;
				border-radius: 50%;
			}
		}
	}
	.search{
		display: flex;
		align-items: center;
		align-self: center;
		margin-bottom: 30%;
	}
	.menu{
		padding: 0% 0% 0% 10%;
		
		h1{
			font-size: 1.875em;
			margin-bottom: 25%;
		}
		nav{
			font-size: 1.5em;
			ul{
				
				li{
					margin-bottom: 10%;
					display: flex;
					
					&:last-child{
						margin: 0;
					}
					&:hover a{
						color: $mainColor;
						transition: .3s ease;
					}
					a{
						transition: .3s ease;
						display: flex;
						align-items: center;						
						.icon{
							margin-right: 20px;
							padding: 8px;
							background: $backgroundBorder;
							border-radius: 10px;
							font-size: 0.8em;
						}
					}
				}
			}
		}
	}
}
/* ------------------------------------------------------------------ */
/* 4. Profile Styles
/* ------------------------------------------------------------------ */
.profile{
	display: flex;
	width: 85%;
	
	flex-direction: column;
	padding: 2% 6%;
	color: $noActiveText;
	background-image: url(../images/backgrounds/fonMain.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	//height: 100vh;
	overflow: scroll; //auto
	overflow-x: hidden;
	&::-webkit-scrollbar{
		width: 10px;

	}
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
		
	}
	&::-webkit-scrollbar-thumb{
		background-color: $backgroundBorder;
		border-radius: 10px;
	}
	.background-info{
		position: relative;
		margin-bottom: 1%;
		.avatar{
			position: absolute;
			width: 160px;
			height: 160px;
			border-radius: 50%;
			right: 45%;
			bottom: 10%;
			border: 7px solid black;
			img{
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		}
		.background{
			width: 100%;
			height: 150px;
			img{
				width: 100%;
				height: 100%;
			}
		}
		.info{
			background: $background;
			display: flex;
			justify-content: space-between;
			font-size: 1.3em;
			.name{
				display: flex;
				padding-left: 20px;
				p{
					display: flex;
					align-self: center;
					&:last-child{
						margin-left: 10px;
						font-size: 0.5em;
						display: flex;
						align-self: center;
					}
				}
			}
			.nav{
				ul{
					display: flex;
					
					li{

						&:hover{
							background: #2E2E40;
							box-shadow: 0px -4px #1488FA inset;

						}
						.active{
							background: #2E2E40;
							box-shadow: 0px -4px #1488FA inset;
						}
						a{
							display: flex;
							padding: 15px;
						}
					}
				}
			}
		}
	}
	.email_and_change{
		display: flex;
		justify-content: flex-start;
		p{
			color: $noActiveText;
			padding: 10px 20px;
			border-radius: 10px;
			background: #1F1D2B;
			&:last-child{
				margin-left: 10px;
			}
		}
	}
	.new-post{
		width: 50%;
		align-self: center;
		margin-bottom: 1%;
		
		.textarea{
			display: flex;
			
			textarea{
				display: flex;
				width: 100%;
				resize: vertical;
				background: $background;
				color: white;
				padding: 20px;
				outline: none !important;
				border: none;
				
			}
			::-webkit-resizer {
				display: none;
			}
		}
		.settings{
			background: $background;
			display: flex;
			justify-content: space-between;
			padding: 10px 20px;
			flex-wrap: wrap;
			.category-slug{
				display: flex;
				
				.category{
					display: flex;
					align-items: center;
					margin-right: 30px;
					label{
						margin-right: 10px;
					}
				}
				.slug{
					display: flex;
					align-items: center;
				}
			}
		}
	}
	.posts{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		width: 100%;
		align-self: center;
		.post{
			display: flex;
			flex-direction: column;
			width: 30%;
			background: $background;
			padding: 10px;
			border-radius: 10px;
			margin-bottom: 2%;
			margin-right: 1.5%;
			margin-left: 1.5%;
			.user-info{
				display: flex;
				margin-bottom: 20px;
				.img{
					display: flex;
					width: 55px;
					height: 55px;
					border-radius: 50%;
					img{
						width: 100%;
						height: 100%;
						border-radius: 50%;
					}
				}
				.name-time{
					display: flex;
					flex-direction: column;
					align-items: center;
					align-self: center;
					margin-left: 30px;
					p{
						color: $mainColor;
						&:last-child{
							margin-top: 5px;
							color: $noActiveText
						}
					}
				}
			}
			.text{
				margin-bottom: 15px;
				color: $mainColor;
				h1{
					margin-bottom: 20px;
					font-size: 1.2em;
				}
				p{
					color: white;

				}
			}
			.img{
				display: flex;
				justify-content: center;
				width: 100%;
				img{
					width: 100%;
				}				
			}
		}
	}
	/* ------------------------------------------------------------------ */
	/* 5. Friends Styles
	/* ------------------------------------------------------------------ */
	.friends-container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		align-self: center;
		.friends_list{
			width: 100%;
			background: $background;
			padding: 15px;
			.search_count{
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				.count{
					font-size: 1em;
				}
			}
			.friends{
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;

				padding: 20px 0px;
				.friend{
					display: flex;
					flex-direction: column;
					padding: 10px;
					border-radius: 10px;
					margin-bottom: 2%;
					background: #181A20;
					position: relative;					
					margin-left: 2.4%;
					flex-basis: 30%;
					.friend_a{
						display: flex;
						flex-direction: column;
						.avatar{
							width: 60px;
							height: 60px;
							border-radius: 50%;
							position: absolute;	
							border: 3px solid black;
							top:60%;
							left:50%;
							transform:translate(-60%, -50%);
							img{
								width: 100%;
								height: 100%;
								border-radius: 50%;
							}
							.friend_status{
								position: absolute;
								color: white;
								bottom: 0;
								right: 0;
							}
						}
						.background{
							display: flex;
							img{
								width: 100%;
								height: 130px;
							}
						}
						.name_status{
							display: flex;
							justify-content: center;
							padding: 8% 0% 5% 0%;
							p{
								&:first-child{
									margin-right: 10px;
								}
							}
							i{
								font-size: 0.5em;
							}
						}
					}
					.send_msg{
						position: absolute;
						right: 6%;
						top: 8%;
						border-radius: 50%;
						background: $backgroundBorder;
						padding: 8px;
					}
				}
			}
		}
		.friends_settings{
			width: 20%;
			background: $background;
			
			.friends_settings_active{
				color: white;
				background: #2E2E40;
				box-shadow: 4px 0px #1488FA inset;
			}
			a{
				display: flex;
				font-size: 1.25em;
				p{
					padding: 15px 20px;
				}
			}
		}
	}
	/* ------------------------------------------------------------------ */
	/* 6. Photo Styles
	/* ------------------------------------------------------------------ */
	.photo_container{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		align-self: center;
		background: $background;
		padding: 15px;
		.photo{
			padding: 1%;
			width: 20%;
			height: 200px;
			border-radius: 10px;
			overflow: hidden;
			display: flex;
			
			align-items: center;
			img{
				
				border-radius: 10px;		
				height: 170px;
        		width: 100%;
			}
		}
	}

}
/* ------------------------------------------------------------------ */
/* 6. Lenta Styles
/* ------------------------------------------------------------------ */
.lenta{
	display: flex;
	width: 85%;
	
	flex-direction: column;
	padding: 2% 6%;
	color: $noActiveText;
	background-image: url(../images/backgrounds/fonMain.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	//height: 100vh;
	overflow: scroll; //auto

	&::-webkit-scrollbar{
		width: 10px;

	}
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
		
	}
	&::-webkit-scrollbar-thumb{
		background-color: $backgroundBorder;
		border-radius: 10px;
	}
	.background_category{
		margin-bottom: 1%;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		.background{
			width: 100%;
			height: 50px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			img{
				width: 100%;
				height: 100%;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}
		}
		.category{
			background: $background;
			ul{
				display: flex;
				flex-wrap: wrap;
				li{
					display: flex;
					
					a{
						padding: 5px;
					}
				}
			}
		}
	}
	/*ПОСТ*/
	.posts{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 90%;
		align-self: center;
		.post{
			display: flex;
			flex-direction: column;
			width: 45%;
			background: $background;
			padding: 10px;
			border-radius: 10px;
			margin-bottom: 2%;
			
			.user-info{
				display: flex;
				margin-bottom: 20px;
				.img{
					display: flex;
					width: 55px;
					height: 55px;
					border-radius: 50%;
					img{
						width: 100%;
						height: 100%;
						border-radius: 50%;
					}
				}
				.name-time{
					display: flex;
					flex-direction: column;
					align-items: center;
					align-self: center;
					margin-left: 30px;
					p{
						color: $mainColor;
						&:last-child{
							margin-top: 5px;
							color: $noActiveText
						}
					}
				}
			}
			.text{
				margin-bottom: 15px;
				color: $mainColor;
				h1{
					margin-bottom: 20px;
					font-size: 1.2em;
				}
				p{
					color: white;

				}
			}
			.img{
				display: flex;
				justify-content: center;
				width: 100%;
				img{
					width: 300px;
				}				
			}
		}
	}
}

/* ------------------------------------------------------------------ */
/* 7. messages Styles
/* ------------------------------------------------------------------ */

.messages{
	display: flex;
	width: 85%;
	padding: 2% 6%;
	color: $noActiveText;
	background-image: url(../images/backgrounds/fonMain.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	//height: 100vh;
	overflow-y: scroll; //auto
	justify-content: space-between;
	&::-webkit-scrollbar{
		width: 10px;

	}
	
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
		
	}
	&::-webkit-scrollbar-thumb{
		background-color: $backgroundBorder;
		border-radius: 10px;
		
	}
	.chats{
		display: flex;
		flex-direction: column;
		width: 10%;
		background: $background;
		padding: 2% 1%;
		border-radius: 10px;

		overflow: scroll; //auto
		overflow-x: hidden;
		&::-webkit-scrollbar{
			width: 1px;
	
		}
		&::-webkit-scrollbar-track {
			box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
			
		}
		&::-webkit-scrollbar-thumb{
			background-color: $backgroundBorder;
			border-radius: 10px;
		}
		h1{
			display: flex;
			justify-content: center;
			font-size: 1.5em;
			color: $mainColor;
			margin-bottom: 10%;
			color: $noActiveText;
		}
		.user{
			display: flex;
			align-items: center;
			align-self: center;
			color: $mainColor;
			padding: 2%;
			border-radius: 10px;
			transition: .3s ease;
			margin-bottom: 12px;
			/*
			&:hover{
				background: #2E2E40;
				transition: .3s ease;
			}
			*/
			.avatar{
				display: flex;
				border-radius: 50%;
				margin-right: 7%;
				position: relative;
				img{
					width: 60px;
					height: 60px;
					border-radius: 50%;
				}
				p{
					position: absolute;
					font-size: 0.5em;
					right: 0;
					bottom: 5%;
				}
			}
		}
	}
	.current_chat{
		display: flex;
		flex-direction: column;
		width: 85%;
		background: $background;
		justify-content: space-between;
		padding: 1%;
		border-radius: 10px;

		overflow: scroll; //auto
		overflow-x: hidden;
		&::-webkit-scrollbar{
			width: 10px;
	
		}
		&::-webkit-scrollbar-track {
			box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
			
		}
		&::-webkit-scrollbar-thumb{
			background-color: $backgroundBorder;
			border-radius: 10px;
		}
		.text-user{

			.message_container_user, .message_container_friend{
				display: flex;
				width: 100%;
				justify-content: flex-end;
				padding: 2%;
				.message_avatar{
					display: flex;
					width: 100%;
					
					.message{
						width: 100%;
						padding: 1%;
					}
					.avatar{
						
						img{
							border-radius: 50%;
							width: 60px;
							height: 60px;
						}
					}
				}
			}
			.message_container_user{
				.message{
					width: 100%;
					display: flex;
					justify-content: flex-end;
					p{
						width: 40%;
						padding: 2%;
						background: #1488FA;
						color: white;
						border-radius: 10px;
					}
				}
				.avatar{
					display: flex;
					padding-top: 1%;
				}
			}
			
			.message_container_friend{
				display: flex;
				text-align: left;
				justify-content: flex-start;
				.message_avatar{
					flex-direction: row-reverse;
					.message{
						width: 100%;
						p{
							width: 40%;
							padding: 2%;
							background: #6C5ECF;
							color: white;
							border-radius: 10px;
						}
					}
					.avatar{
						display: flex;
						padding-top: 1%;
					}
				}
			}
		}
		.textarea_send{
			display: flex;
			.textarea_send{
				display: flex;
				
				textarea{
					display: flex;
					width: 100%;
					resize: vertical;
					background: $background;
					color: white;
					padding: 20px;
					outline: none !important;
					border: none;
					
				}
				::-webkit-resizer {
					display: none;
				}
			}
		}
	}

}